.c1{
    background-color: red;
    color: beige;
}
.c2
{
    background-color: purple;
    color: beige;
}
.c3
{
    background-color: dimgray;
    color: beige;
}
.c4
{
    background-color: darkslateblue;
    color: beige;
}